<!DOCTYPE html>
<html>
<head>
  <title>YelpDemo</title>
  <%= render 'layouts/bootstrap' %></head>
<body>
<%= render '/layouts/navbar' %>
<div class="container-fluid">
<%= yield %>

<%= render '/layouts/footer' %>
</div>
</body>
</html>
